<h1>Edit user</h1>

<form id="edit-user" name="user">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="password"> password:</label>
    <input type="text" name="password" id="password" value="<%= password %>" >
  </div>

  <div class="field">
    <label for="lock"> lock:</label>
    <input type="text" name="lock" id="lock" value="<%= lock %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update User" />
  </div>

</form>

<a href="#/index">Back</a>
