<div id="cards"></div>

<script type="text/javascript">
  $(function() {
    // Cardbox is the app name
    window.router = new Cardbox.Routers.CardsRouter();
    router.cards.fetch().done(function(){
        Backbone.history.start();
    });
  });
</script>

