
<div class="col-md-6">
  <h1>Archived cards</h1>
</div>
<div class="col-md-6">
</div>

<div class="table-responsive">
  <table id="cards-table" class="table table-striped">
    <thead>
        <tr>
          <th class="col-md-1">No</th>
          <th class="col-md-5">Question</th>
          <th class="col-md-1">Good Answer</th>
          <th class="col-md-1">Reliability</th>
          <th class="col-md-2">Create</th>
          <th class="col-md-2">Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<br/>

