
<div class="col-md-6">
  <h1>Listing cards</h1>
</div>
<div class="col-md-6">
  <a href="#/new" class="btn btn-primary" style="margin: 16px; float: none;">  New Card  </a>
  <a href="#/test" class="btn btn-success" style="margin: 16px; float: none;"> Go To Test </a>
</div>

<div class="table-responsive">
  <table id="cards-table" class="table table-striped">
    <thead>
        <tr>
          <th>User</th>
          <th>No</th>
          <th>Question</th>
          <th>Answer</th>
          <th>Comment</th>
          <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<br/>

<div id="test-modal" class="modal fade">
</div>