<h2>Total</h2>
<h2 id="sidebar-total">
<p><%= good_cards %> / <%= total_cards %></p>
</h2>
<hr>
<h2>Progress</h2>
<h2 id="sidebar-progress">
<p><%= persent %> %</p>
</h2>
<hr>
<!-- <h1>Today</h1>
<p>
</p>

<h1>Yesterday</h1>
<p>
</p> -->