<div id="sidebar-info">
    <h2 class="label">Total</h2>
    <p class="sidebar-total">
        <%= good_cards %> / <%= total_cards %>
    </p>
    <hr>
    <h2 class="label">Progress</h2>
    <p class="sidebar-progress">
        <%= persent %> %
    </p>
    <hr>
</div>