<h1>New card</h1>

<form id="new-card" name="card" class="form-horizontal">
  <div id="input-tag" class="input-group">
    <label for="tag" class="input-group-addon"> tag </label>
    <textarea name="tag" id="question" class="form-control" rows="1" ><%= tag %></textarea>
  </div>
  <br>
  <div class="input-group">
    <label for="question" class="input-group-addon"> question </label>
    <textarea name="question" id="question" class="form-control" rows="4" ><%= question %></textarea>
  </div>
  <br>
  <div class="input-group">
    <label for="answer" class="input-group-addon"> answer </label>
    <textarea name="answer" id="answer" class="form-control" rows="4"><%= answer %></textarea>
  </div>
  <br/>
  <div class="input-group">
    <label for="comment" class="input-group-addon"> comment </label>
    <textarea name="comment" id="answer" class="form-control" rows="2"><%= comment %></textarea>
  </div>
  <br/>
  <br/>
  <div class="btn-group">
    <a href="#/index" class="btn btn-default"> Cancel </a>
    <input type="submit" value="New" class="btn btn-primary" />
  </div>
</form>
