<td><%= no %></td>
<td>
    <p><%= question %></p>
    <div class="answer hidden">
        <hr>
        <p><%= answer %></p>
    </div>
</td>
<td>
    <a href="#" class="show-answer btn btn-xs btn-info">Show Answer</a>
    <a href="#" class="hide-answer btn btn-xs btn-warning hidden">Hide Answer</a>
</td>
